<ion-header>
  <ion-toolbar color="success">
    <ion-title>Academy Editor</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="clearEditor()">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="preview()">
        <ion-icon slot="icon-only" name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <quill-editor [(ngModel)]="mytext"></quill-editor>
</ion-content>
